.container-about {
  background-color: #0e293b;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.about-second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 62.5rem;
  padding-bottom: 5rem;
}

.about-me {
  padding-top: 5rem;
  padding-bottom: 3.125rem;
}

.about-title {
  display: flex;
  font-size: 1.375rem;
  align-items: center;
}

.about-parrafo {
  line-height: 1.5625rem;
  width: 100%;
}

.container-about img {
  width: 2.5rem;
}

.education {
  display: flex;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.asterisco {
  font-size: 1.875rem;
  color: #00bebe;
  margin-right: 0.25rem;
}

.education-text p {
  color: #a8a8a8;
}

.education-text h4 {
  font-weight: 400;
}

.formation {
  display: flex;
  justify-content: space-between;
}

.tecnology {
  display: flex;
}
.tecnology-skills{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.section-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8125rem;
  margin: 1.25rem;
  width: calc(50% - 1.25rem);
}

.skills-1, .skills-2 {
  display: flex;
  justify-content: center;
}
.timeline {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border-left: 3px solid #00ffff;
}

.event {
  position: relative;
  margin: 20px 0;
  padding-left: 20px;
}

.event-content {
  background-color: #081b29;
  width: 700px;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.5625rem;
  display: flex;
  flex-direction: column;
}

.event-date {
  position: absolute;
  left: -50px;
  top: 10px;
  background-color: #00bebe;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.content-p{
  margin-top: 0.7rem;
}
@media (max-width: 1024px) {
  .about-second {
    width: 100%;
    padding: 3rem 4rem;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .about-second {
    width: 100%;
    padding: 3rem 4rem;
    flex-direction: column;
    align-items: center;
  }
  .event-content {
    width: 450px;
  }

}

@media (max-width: 425px) {
  .about-second {
    width: 100%;
    padding: 2rem 3rem;
    flex-direction: column;
    align-items: center;
  }

  .about-title{
    text-align: center;
    justify-content: center;
  }
  .about-me {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .about-parrafo {
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
  }

  .formation, .tecnology {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .skills {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
  }
  .skills-1,.skills-2{
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .section-skill {
    width: calc(50% - 1.25rem);
    margin: 0.625rem;
  }
  .tecnology{
    padding-top: 2rem;
  }
  .tecnology-skills{
    row-gap: 1.5rem;
  }
  .event-content {
    width: 200px;
  }
}

