.navbar {
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container-navbar {
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-around;
  align-items: center; /* Centra los elementos verticalmente */
}

.navbar > div > ul {
  display: flex;
}

.option > a {
  color: white;
  text-decoration-line: none;
  margin: 0.375rem 0.625rem;
  font-size: 1.125rem;
  align-content: center;
}

.tittle-decor {
  display: flex;
  font-size: 1.375rem;
  align-items: center;
}

.punto {
  color: #00bebe;
  font-weight: 800;
}

.navbar.scrolled {
  background: rgba(137, 247, 255, 0.041);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.0625rem solid white;
}

.burger-menu {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.bar {
  width: 1.5rem;
  height: 0.15rem;
  background-color: white;
  margin: 0.3rem 0;
  transition: 0.3s ease;
}

@media (max-width: 425px) {
  .navbar > div > ul {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
  .container-navbar{
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }
}



