footer {
    height: 3.125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.footer-name {
    display: flex;
    align-items: center;
}

.name {
    font-weight: 800;
    padding-left: 0.3125rem;
}

.footer-icon i {
    color: #00a8a8;
    font-size: 1.5625rem;
    padding: 0 0.9375rem;
}
@media (max-width: 425px) {
    .footer-name{
        font-size: 14px;
    }
}