footer{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.footer-name{
    display: flex;
    align-items: center;
}
.name{
    font-weight: 800;
    padding-left: 5px;
}
.footer-icon i{
    color: #00a8a8;
    font-size: 25px;
    padding: 0px 15px;
}