.container-proyect {
  display: flex;
  justify-content: center;
}

.proyect-second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 62.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.proyect-title {
  text-align: center;
  color: #ffffff;
  line-height: 2.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyect-new {
  display: flex;
  justify-content: space-between;
  margin: 1.875rem 4.375rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.program {
  width: 25rem;
  background-color: #0e293b;
  border: 0.0625rem solid #007474;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
}

.program img {
  width: 100%;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.proyect-description {
  padding: 1.25rem;
  color: #ffffff;
}

.proyect-description h2 {
  color: #00bebe;
}

.proyect-description p {
  padding-top: 0.875rem;
  padding-bottom: 1.5625rem;
  font-size: 0.875rem;
}

.button-28 a {
  text-decoration: none;
  color: #00ffff;
}

.button-28:hover a {
  color: #000000;
}

.primary-title {
  display: flex;
  font-size: 1.375rem;
  align-items: center;
}

.sub-proyect {
  text-align: center;
  color: #ffffff;
}
.image-transition {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: auto;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0.1;
}

@media (max-width: 768px) {
  .proyect-second {
    width: 100%;
    padding: 3rem 4rem;
  }
  .proyect-new {
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}

@media (max-width: 425px) {
  .proyect-second {
    width: 100%;
    padding: 2rem 3rem;
  }

  .proyect-new {
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
  }

  .program {
    width: 90%;
    margin-bottom: 1rem;
  }
  .parrafo-proyect{
    padding-top: 1rem;
    line-height: 1.3rem;
  }
}
