.container-proyect {
  display: flex;
  justify-content: center;
}

.proyect-second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 62.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.proyect-title {
  text-align: center;
  color: #ffffff;
  line-height: 2.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyect-new {
  display: flex;
  justify-content: space-between;
  margin: 1.875rem 4.375rem;
}

.program {
  width: 25rem;
  background-color: #0e293b;
  border: 0.0625rem solid #007474;
  border-radius: 1.25rem;
}

.program img {
  width: 100%;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.proyect-description {
  padding: 1.25rem;
  color: #ffffff;
}

.proyect-description h2 {
  color: #00bebe;
}

.proyect-description p {
  padding-top: 0.875rem;
  padding-bottom: 1.5625rem;
  font-size: 0.875rem;
}

.button-28 a {
  text-decoration: none;
  color: #00ffff;
}

.button-28:hover a {
  color: #000000;
}

.primary-title {
  display: flex;
  font-size: 1.375rem;
  align-items: center;
}

.sub-proyect {
  text-align: center;
  color: #ffffff;
}
